 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart", "table", "geochart"] });
       //google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
        var jsondata = {{data_pie|safe}}
        var data = new google.visualization.DataTable(jsondata);
        var options = {
            title: 'Podział głosów',
            pieHole: 0.1,
            pieResidueSliceLabel: "Pozostali",
            legend: { position: 'left', maxLines: 100 },
            //chartArea : { left:20 , right : 40 } ,
            sliceVisibilityThreshold: .03
        };



        var chart = new google.visualization.PieChart(document.getElementById('pie'));
        chart.draw(data, options);

        {% if data is defined %}
            var jsondata2 = {{data|safe}}
            var data2 = new google.visualization.DataTable(jsondata2);
            var options2 = {
            region: 'PL',
            resolution: 'provinces',
            datalessRegionColor: 'transparent',
            colorAxis: { colors: ['#c3c90a', '#d65906', '#8c0106'] },
                };

        var chart2 = new google.visualization.GeoChart(document.getElementById('Mapa'));
        google.visualization.events.addListener(chart2, 'select', function () {
            var selection = chart2.getSelection();
            if (selection.length > 0) {
                window.open('./woje/' + data2.getValue(selection[0].row, 0), "_self");
            }
        });
        chart2.draw(data2, options2);
        {%endif%}
        }
        

    </script>    

<div onmouseover=eval("drawChart()")>
       
    <header>
        <h1> <strong> Wybory : {{ title }} </strong> </h1>
    </header>
    <div class="general_stats">
        <p>
            Uprawnionych: {{ region_info.max_votes }}
        </p>
        <p>
            Kart ważnych: {{ region_info.valid_votes }}
        </p>
        <p>
            Frekwencja: {{ "%.2f" % (region_info.valid_votes / region_info.max_votes * 100) | float }}%
        </p>
    </div>

    <p> <nav><a href="../../.."> Kraj </a></nav></p>
    <p>
        <nav> <a href="./search"> Wyszykiwanie </a> </nav>
    </p>
    <p>
        <nav> <a href="./login"> Login </a> </nav>
    </p>
    <p>
        <nav> <a href="./logout"> Logout </a> </nav>
    </p>
    {% if change is defined %}
    <p>
        <nav> <a href="./change"> Zmień </a> </nav>
    </p>
    {%endif%}
        <figure id="pie">
        </figure>
        <figure id="Mapa">
        </figure>
    <main>
        {% if regions_data is defined %}
        <h2>Wyniki </h2>
        <table>
            <tr>
                <th>
                    {{ unit }}
                </th>
                <th class="responsive_hide">
                    Uprawnionych
                </th>
                <th class="responsive_hide">
                    Kart ważnych
                </th>
                <th>
                    Frekwencja
                </th>
            </tr>
            {% for w in regions_data %}
            <tr>
                <td>
                    <a href="../../{{ w.path() }}">{{ w.name }}</a>
                </td>
                <td class="responsive_hide">
                    {{ w.max_votes }}
                </td>
                <td class="responsive_hide">
                    {{ w.valid_votes }}
                </td>
                <td>
                    {{ "%.2f" % (w.valid_votes / w.max_votes * 100) | float }}%
                </td>
            </tr>
            {% endfor %}

        </table>
        {%endif%}
    </main>



    <footer>
        &copy; 2017 Rastsislau Matusevich
    </footer>
        </div>